<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Prediction</title>
</head>
<body>
    <h1>COVID-19 Prediction</h1>
    <p>Upload a chest X-ray image to predict if it shows signs of COVID-19.</p>
    <form method="POST" enctype="multipart/form-data">
        <label for="image">Choose Image:</label>
        <input type="file" id="image" name="image" required>
        <br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
